a {
  color: #11999E;
  font-family: Montserrat;
}
a:hover{
  color: #EAF6F6;

}
body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

hr {
  border-style: dotted;
  border-top-style: none;
  border-width: 5px;
  color: #eaf6f6;
  margin: 100px auto;
  width: 4%
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    /*using percentages or em will allow text to scale to browser text size
    settings. Pixels will override the browser.
    100% = 16px ; so if you wanted to make it 90px then do
    90px/16px = 562.5%  and set 560% as the font-size.
    Also, 1em is = 16px so you could use 90/16 = 5.625em.
    em's are dynamic like percentages */

    /*Percentage and EM font-sizes are inherited which means that if an
    em or percentage is specified in a parent tag, like body, the percent and em
    values specified else where will be added on top of it. This might be why
    you choose to use pixels instead of percentages or em's.
    You can use 'rem' (root em) instead of "em" to ignore the inherited settings*/
    /*Whereever possible use "rem" since it is the most adaptale size setting
    because it can scale and ignore inherited settings where necessary*/

    margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.intro {
  margin:auto;
  width: 30%;
}
.top-container {
    background-color: #e4f9f5;
    padding-top: 100px;
    /*set relative for the image element and .bottom-cloud class*/
    position: relative;
}

.middle-container {
  margin: 50px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px;
}

.underline {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    bottom: 300px;
    left: 300px;
    /*set absolute to the .top-container class so that the body doesn't affect it*/
    position: absolute;

}

.profile-img{
  border-radius: 100%;
}

.skill-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.code-img {
  float:left;
  margin-right: 30px;
  width: 25%;

}

.contact-me {
  margin: 50px auto 50px auto;
  width: 40%;
}

.person-img {
  float: right;
  margin-left: 30px;
  width: 25%;

}

.copy-right {
  color: #EAF6F6;
  padding: 20px 0;
}

.footer-link {
  padding-left: 30px;
  text-decoration: none;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #528009;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}.btn:active {
	position:relative;
	top:1px;
}<
